<div class="py-5">
  <div class="container px-4">
    <div class="row">
      <div class="col">
        <h3 class="mb-4">Argomenti</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a routerLink=""><span class="chip chip-simple chip-primary"><span
          class="chip-label">Cultura</span></span></a>
        <a routerLink=""><span class="chip chip-simple chip-primary"><span
          class="chip-label">Muoversi</span></span></a>
        <a routerLink=""><span class="chip chip-simple chip-primary"><span
          class="chip-label">Argomento di esempio</span></span></a>
      </div>
    </div>
  </div>
</div>