<section id="in-evidenza">
  <div class="bg-light py-5">
    <div class="container px-4">
      <div class="row">
        <div class="col">
          <h3 class="mb-4">In evidenza</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <article class="card-wrapper card-space">
            <div class="card card-bg card-big rounded shadow">
              <div class="flag-icon"></div>
              <div class="etichetta">
                <svg class="icon">
                  <use xlink:href="svg/sprite.svg#it-pa"></use>
                </svg>
                <span>Luoghi</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Luoghi</h5>
                <p class="card-text">Luoghi... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <!--end card-->
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <article class="card-wrapper card-space">
            <div class="card card-bg card-big rounded shadow">
              <div class="flag-icon invisible"></div>
              <div class="etichetta">
                <svg class="icon">
                  <use xlink:href="svg/sprite.svg#it-user"></use>
                </svg>
                <span>Funzionari amministrativi</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Funzionari amministrativi</h5>
                <p class="card-text">Funzionari amministrativi... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <!--end card-->
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <article class="card-wrapper card-space">
            <div class="card card-bg card-big rounded shadow">
              <div class="flag-icon invisible"></div>
              <div class="etichetta">
                <svg class="icon">
                  <use xlink:href="svg/sprite.svg#it-pa"></use>
                </svg>
                <span>Uffici</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Uffici</h5>
                <p class="card-text">Uffici... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <!--end card-->
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <article class="card-wrapper card-space">
            <div class="card card-bg card-big rounded shadow">
              <div class="flag-icon invisible"></div>
              <div class="etichetta">
                <svg class="icon">
                  <use xlink:href="svg/sprite.svg#it-pa"></use>
                </svg>
                <span>Luoghi</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Altri Luoghi</h5>
                <p class="card-text">Altri Luoghi... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <!--end card-->
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <article class="card-wrapper card-space">
            <div class="card card-bg card-big rounded shadow">
              <div class="flag-icon invisible"></div>
              <div class="etichetta">
                <svg class="icon">
                  <use xlink:href="svg/sprite.svg#it-user"></use>
                </svg>
                <span>Politici</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Politici</h5>
                <p class="card-text">Politici... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <!--end card-->
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <article class="card-wrapper card-space">
            <div class="card card-bg card-big rounded shadow">
              <div class="flag-icon invisible"></div>
              <div class="etichetta">
                <svg class="icon">
                  <use xlink:href="svg/sprite.svg#it-pa"></use>
                </svg>
                <span>Altri Luoghi</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Altri Luoghi</h5>
                <p class="card-text">Altri Luoghi... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <!--end card-->
        </div>
      </div>
    </div>
  </div>
</section>