<header class="it-header-wrapper it-header-sticky">
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-lg-block navbar-brand" routerLink="">Insiel S.p.A.</a>
            <div class="it-header-slim-right-zone">
              <div class="nav-item dropdown">
                <a aria-expanded="false" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" routerLink="">
                  <span>ITA</span>
                  <svg class="icon icon-white d-none d-lg-block">
                    <use
                      xlink:href="svg/sprite.svg#it-expand"></use>
                  </svg>
                </a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-12">
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          <li>
                            <a class="list-item" routerLink=""><span>ITA</span></a>
                          </li>
                          <li>
                            <a class="list-item" routerLink=""><span>ENG</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-icon btn-full" routerLink="" title="Accedi all'area personale"
                 aria-label="Accedi all'area personale">
                <span class="rounded-icon">
                  <svg class="icon icon-primary">
                    <use xlink:href="svg/sprite.svg#it-user"></use>
                  </svg>
                </span>
                <span class="d-none d-lg-block">Accedi all'area personale</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a routerLink="">
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-pa"></use>
                  </svg>
                  <div class="it-brand-text">
                    <h2 class="no_toc">Reference Java App</h2>
                    <h3 class="no_toc d-none d-md-block">
                      Innovazione - Ingegnerizzazione Processo Produttivo
                    </h3>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  <span>Seguici su</span>
                  <ul>
                    <li>
                      <a aria-label="Facebook" routerLink="" target="_blank">
                        <svg class="icon">
                          <use
                            xlink:href="svg/sprite.svg#it-facebook"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Github" routerLink="" target="_blank">
                        <svg class="icon">
                          <use
                            xlink:href="svg/sprite.svg#it-github"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Twitter" routerLink="" target="_blank">
                        <svg class="icon">
                          <use
                            xlink:href="svg/sprite.svg#it-twitter"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="it-search-wrapper">
                  <span class="d-none d-md-block">Cerca</span>
                  <a aria-label="Cerca" class="search-link rounded-icon"
                     routerLink="">
                    <svg class="icon">
                      <use
                        xlink:href="svg/sprite.svg#it-search"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-navbar></app-navbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
