<section id="briciole" class="container px-4 my-4">
  <div class="row">
    <div class="col px-lg-4">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="">Home</a><span
            class="separator">/</span>
          </li>
          <li aria-current="page" class="breadcrumb-item active">
            Documenti e Dati
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section id="intro" class="container px-4 my-4">
  <div class="row">
    <div class="col-lg-7 px-lg-4 py-lg-2">
      <h1>Documenti e Dati</h1>
      <p>Documenti e Dati... Donec in consequat nunc. Duis semper fermentum lacus, ac condimentum justo auctor a. Nam erat erat, porta vel
        pharetra in, ullamcorper vel turpis.</p>
      <div class="form-group mt-5">
        <form>
          <input id="ricerca-amministrazione" type="search">
          <label for="ricerca-amministrazione">Cerca contenuti tra i documenti</label>
          <span aria-hidden="true" class="autocomplete-icon">
              <svg class="icon icon-sm"><use
                xlink:href="svg/sprite.svg#it-search"></use></svg>
            </span>
        </form>
      </div>
      <app-commons-filtri></app-commons-filtri>
    </div>
    <div class="col-lg-4 offset-lg-1 pt-5 pt-lg-2">
      <div class="link-list-wrapper">
        <ul class="link-list">
          <li><h3 id="heading-senza-link">Tutti i documenti</h3></li>
          <li><a class="list-item" routerLink="">Documenti albo pretorio</a></li>
          <li><a class="list-item" routerLink="">Modulistica</a></li>
          <li><a class="list-item" routerLink="">Documenti funzionamento interno</a></li>
          <li><a class="list-item" routerLink="">Normative</a></li>
          <li><a class="list-item" routerLink="">Accordi tra enti</a></li>
          <li><a class="list-item" routerLink="">Documenti attività politica</a></li>
          <li><a class="list-item" routerLink="">Rapporti (tecnici)</a></li>
          <li><a class="list-item" routerLink="">Dataset</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-commons-evidenza></app-commons-evidenza>
<section>
  <div class="py-5">
    <div class="container px-4">
      <div class="row">
        <div class="col">
          <h3 class="mb-4 text-primary">Tutti i servizi</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title big-heading">Documenti</h5>
                <p class="card-text">Documenti... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--end card-->
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <!--start card-->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title big-heading">Dati</h5>
                <p class="card-text">Dati... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
                <a class="read-more" routerLink="">
                  <span class="text">Leggi di più</span>
                  <svg class="icon">
                    <use
                      xlink:href="svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--end card-->
        </div>
      </div>
    </div>
  </div>
  <app-commons-argomenti></app-commons-argomenti>
</section>

