<div id="filtri-ricerca-amministrazione">
  <h6 class="small">Filtri</h6>
  <div class="chip chip-lg">
    <span class="chip-label">Tutto</span>
    <button>
      <svg class="icon">
        <use xlink:href="svg/sprite.svg#it-close"></use>
      </svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>
  <div class="ml-2 d-inline">
    <button class="btn btn-icon btn-outline-primary btn-sm align-top">
      <svg class="icon icon-primary">
        <use xlink:href="svg/sprite.svg#it-plus"></use>
      </svg>
      <span>Aggiungi filtro</span>
    </button>
  </div>
</div>
